<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>One Page Wonder - Start Bootstrap Template</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />

        <link href="{{ asset("css_template/styles.css") }}" rel="stylesheet" />
    </head>
    <body id="page-top" style="position: relative">
        {{ form_start(form) }}

        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container px-5">
                {{ form_row(form.logo) }}
            </div>
        </nav>
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-0">{{ form_row(form.Titre) }}</h1>
                    <h2 class="masthead-subheading mb-0">{{ form_row(form.SousTitre) }}
                    </h2>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5 rounded-circle text-bg-secondary"> {{ form_row(form.Image_de_la_deuxieme_section)}} </div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">{{ form_row(form.Titre_de_la_deuxieme_section) }}</h2>
                            <p>{{ form_row(form.Sous_titre_de_la_deuxieme_section) }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5 rounded-circle text-bg-secondary">{{ form_row(form.Deuxieme_image_de_la_deuxieme_section) }}</div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">{{ form_row(form.Deuxieme_titre_de_la_deuxieme_section) }}</h2>
                            <p>{{ form_row(form.Deuxieme_sous_titre_de_la_deuxieme_section) }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5 rounded-circle text-bg-secondary">{{ form_row(form.Troisieme_image_de_la_deuxieme_section) }}</div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">{{ form_row(form.Troisieme_titre_de_la_deuxieme_section) }}</h2>
                            <p>{{ form_row(form.Troisieme_sous_titre_de_la_deuxieme_section) }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="py-5 bg-black">
            <div class="container px-5"><p class="m-0 text-center text-white small">{{ form_row(form.Copyright) }}</p></div>
            <button type="submit" class="btn btn-danger" style="position: fixed; bottom: 25px; right: 10px">Créer</button>
        </footer>

        {{ form_end(form) }}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
