{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}
{% block title %}Hello HomeController!{% endblock %}

{% block body %}



    <section class="header-animation">
        <img src="https://drive.google.com/uc?export=view&id=1nHl2PZEhjGl18XyZYWnWloFciszXvpXh" id="stars">
        <img src="https://drive.google.com/uc?export=view&id=11ywlLc0-vbBwuKFVfTX7stDFih0TBiJG" id="moon">
        <img src="https://drive.google.com/uc?export=view&id=1A8KUta55RJbL-47_J1_J8L2EVJnzWUJv" id="mountains_behind">
        <h2 id="text">Ucreate</h2>
        <a href="#sec" id="btn">Explorer</a>
        <img src="https://drive.google.com/uc?export=view&id=1sc056mKgpKjv7rBiop8QbPPtF7b8pwtu" id="mountains_front">
    </section>

    <div class="sec" id="sec">
        <h2>La création de site web</h2>
        <p class="text-justify text-white">
            Ucreate permet à tous de créer un site internet gratuit ou professionnel, de créer une boutique en ligne,
            de créer un blog ou les 3 à la fois. <br>Les possibilités sont infinies, à vous de choisir. C'est un logiciel de
            création de site web en ligne sans connaissances techniques. <br>Vous êtes débutant ? Ucreate est fait pour
            vous, alors, lancez-vous !</p>

        <a href="{{ path('app_choose_template') }}" class="btn">Commencer</a>
    </div>
    <h4 class=" content text-white mb-3 text-center">Votre site web en 3 étapes</h4>
    <div class="box mt-5">
        <div class="contenu text-center ">
            <div class="container-fluid row align-items-start">
                <div class="col card-images">
                    <img class="images" src="{{ asset('assets/images/clients.png') }}" alt="...">
                    <p class="card-text text-white"><span> 1- </span> Choisissez le template qui qui vous fais rêver</p>
                </div>
                <div class="col card-images">
                    <img class="images" src="{{ asset('assets/images/template.png') }}" alt="...">
                    <p class="card-text text-white"><span> 2- </span> Ajoutez vos textes et vos images au bon endroit</p>
                </div>
                <div class="col card-images">
                    <img class="images" src="{{ asset('assets/images/connexion.png') }}" alt="...">
                    <p class="card-text text-white"><span> 3- </span> Publier votre site sur le web sans aucun effort</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
